{
  "authorized_keys": "/home/badger/.ssh/authorized_keys",
  "user": "root",
  "group": "user",
  "perms": "o0640",
  "script_path": "/usr/local/easybackup/easybackup",
  "root": "/home/badger/backups",
  "rate": 10000,

  "backups": {
    "badgers": {
      "extension":  ".tar.gz",
      "keep": 10,
      "hourly": false,
      "key": "ssh-rsa blah blah"
    },
    "badgers2": {
      "extension":  ".tar.gz",
      "keep": 10,
      "hourly": true,
      "key": "ssh-rsa blah blah"
    }
  }
}
